* {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #FAFAFA;
    margin: 50px 0;
    width: 446px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu a {
     text-decoration: none;
     color: #9F3BD1;
     font-size: 10px;
     line-height: 40px;
     border: 1px solid #DCDCDC;
     padding: 5px 8px;
     border-radius: 5px;
     margin-left: 1px;
}

.pager-interval {
    margin: 0 7px 5px 7px;
    font-weight: bold;
    vertical-align: bottom;
}

.menu .prefix a, .menu .sufix a{
    border: none;
}

.menu .prefix:first-child a:before, .menu .prefix:nth-child(2) a:before {
    content:"\00AB";
}

.menu .sufix:first-child a:before, .menu .sufix:nth-child(2) a:before {
    content:"\00BB";
}

.menu ul li a:hover {
    background-color: #9F3BD1;
    color: white;
    border: 1px solid #7C12BC;
}

.menu .prefix a:hover, .menu .sufix a:hover {
    border: none;
}