@font-face {
    font-family: 'Atrament-Light';
    src: url(Atrament-3-Light.otf);
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #A64DFF;
    margin:50px 0;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: 'Atrament-Light',sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 14px;
    line-height: 38px;
}

.menu ul li:first-child {
    margin-left: 22px;
}

.menu a:hover{
    background-color: #EEEEEE;
    color: #9FA1A0;
}