body {
    background: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: 400;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.header {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ed7f2b;
}

.header span {
    color: #3270a6;
}

.wrapper {
    width: 50%;
}

.block-item {
    padding: 15px;
}

.image img {
    width: 100px;
    height: 100px;
}

.content {
    position: relative;
    padding: 5px 15px 3px 15px;
    margin-left: 125px;
    background: white;
}

.content:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid white;
}

.block-title {
    border-bottom: 2px dotted #666;
    font-style: italic;
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    color: #3270a6;
}

.text {
    margin: 10px 0 15px;
    font-size: 13px;
    color: #917e91;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 61%;
        float: none;
        margin-left: 15%;
    }

    .image img {
        width: 85px;
        height: 85px;
    }

    .wrapper:after {
        content: "";
        display: block;
        clear: both;
    }

    .block-item {
        padding: 13px;
    }
    
    .content {
        margin-left: 100px;
        padding: 5px 10px 4px 10px;
    }

    .content:before {
        display: none;
    }

    .block-title {
        font-size: 12px;
        line-height: 27px;
    }

    .text {
        font-size: 12px;
        margin-bottom: 4px;
    }
}