input {
    display:none;
}

div label[for="red"],div label[for="green"],div label[for="blue"] {
     text-decoration: underline;
 }
div label[for="red"] {
     color: red;
 }

div label[for="green"] {
     color: green;
 }

div label[for="blue"] {
     color: blue;
 }

.red,.green,.blue {
     border-radius: 10px;
     padding: 5px;
     margin: 5px;
 }

.red {
     background-color: red;
 }

.green {
     background-color: green;
 }

.blue {
     background-color: blue;
 }

#red:checked~.red,#green:checked~.green,#blue:checked~.blue {
     display: none;
 }

#red:checked~label[for="red"],#green:checked~label[for="green"],#blue:checked~label[for="blue"] {
     opacity: 0.4;
 }