* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}

.wrapper {
    width: 878px;
    overflow: hidden;
    margin: 0 auto;
}

h1 {
    color: #40525C;
    text-transform: uppercase;
    text-align: center;
}

.pricing-block {
    width: 298px;
    height: 468px;
    background-color: #EE8129;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    float: left;
}

.pricing-block h1 {
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    padding-top: 24px;
}

.inner_block {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 78px 4px 4px 4px;
}

.inner_block .first_row {
    text-transform: uppercase;
    padding-top: 16px;
    font-size: 25px;
    color: #3F4042;
}
.inner_block .second_row {
    font-size: 22px;
    padding-left: 0;
    color: #35495A;
}

.inner_block .second_row .ampersant {
    vertical-align: 38px;
}

.inner_block .second_row .sum {
    font-size: 76px;
    font-weight: bold;
}

.inner_block .second_row .monthly {
    vertical-align: -6px;
    font-size: 18px;
}

.features {
    margin: 24px 14px;
    text-align: left;
    color: #888C94;
    list-style: none;
}

.features li {
    background-color: #EDF5FD;
    padding: 8px;
    margin-bottom: 1px;
}

.features li:nth-child(even) {
    background-color: #F5F5F6;
}

.features li:first-child {
    text-transform: uppercase;
}

.features li:nth-child(2) {
    text-transform: uppercase;
}

.features li:before {
    content: url("arrow.png");
    padding: 0 17px 0 23px;
}

.button {
    display: block;
    padding: 10px;
    background-color: #EE8129;
    margin: -14px 18px;
    border-radius: 5px;
    box-shadow: 0 3px 0 #B3560B;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.standart {
    background-color: #2CC2D5;
}

.ultimate {
    background-color: #00B89A;

}

.standart, .ultimate {
    height: 438px;
    margin-top: 65px;
    width: 290px;
}

.standart .inner_block, .ultimate .inner_block {
    margin: 63px 0 0 0;
    border: 1px solid #E8EAEC;
    border-radius:0 0 5px 5px;
    border-top: none;
}

.standart h1, .ultimate h1 {
    padding-top: 16px;
}

.standart .button, .ultimate .button {
    background-color: #306FA8;
    box-shadow: 0 3px 0 #13426B;
}


