* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 92.4%;
    height: 102px;
    margin: 0 auto;
    position: relative;
}

.header img {
    width: 260px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 12.7%;
}

.menu {
    position: absolute;
    top: 55px;
    right: 0;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
}

.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 27px 5px;
    margin: 0 10px;
}

.menu li a:hover {
    border-bottom: 3px solid #3070A8;
    color: #551A8B;
}

.menu li a:focus, .menu li a:active {
    border-bottom: 3px solid #3070A8;
    color: red;
}

.banner {
    width: 92.4%;
    margin: 0 auto;
    height: 528px;
    background-image: url(title-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}

.banner-text {
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
}

.banner-text span {
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
    text-transform: uppercase;
}

.wrapper-banner-text {
    position: absolute;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 138px auto;
}

.text_italic {
    font-family: Calibri, sans-serif;
    font-style: italic;
    margin: 10px 0 38px 0;
    line-height: 22px;
}

.button {
    display: inline-block;
    padding: 15px 60px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

