a {
    color: blue;
}

a[href^="https://"] {
    color: #f70;
}

a[href*="google"] {
    color: #666;
}

.icon {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    transform: rotate(90deg);
}

a {
    font-weight: bold;
    font-size: 24px;
}