span {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

p em {
   background-color: green;
    color: white;
}

h1 {
    text-align: right;
    color: orange;
}

h2.orange {
    color: orange;
}

h2.blue {
    color:blue;
}

ul {
    font-weight: bold;
}

ol {
    font-weight: normal;
}

.fruct.garden {
    color: #817A75;
}

.vegetable {
    color: red;
}

.fruct.sklad {
    color: green;
}

table {
    width: 400px;
    font-weight: bold;
}

td {
    text-align: center;
}

.name {
    color: orange;
    text-align: left;
    font-weight: normal;
}

.lesson {
    background-color: green;
    font-weight: normal;
}