* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact,sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.menu {
    background-color: #1AA4FF;
    text-align: center;
    margin: 50px 0;
    position: relative;
}

.menu > ul > li {
    display: inline;
}

.menu > ul > li > a {
    padding: 10px 16px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
}

.menu > ul > li > a:hover {
    background-color: #EEEEEE;
    color: #A2A19F;
}

.podmenu {
    position: absolute;
    background-color: #EEEEEE;
    display: none;
    width: 100%;
    text-align: left;
}

.podmenu li:first-child {
    margin-left: 60px;
}

.menu > ul > li > .podmenu li {
    display: inline;
}

.menu > ul > li > .podmenu a {
    color: #8888AA;
    font-size: 14px;
    padding: 8px 10px;
    display: inline-block;
}

.menu > ul > li > .podmenu a:hover{
    background-color: #6496AA;
    color: #FCFDFF;
}

.travels:hover .podmenu {
    display: block;
}

.sport:hover .podmenu {
    display: block;
}