table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-bottom: 1px solid #D4D3D2;
    padding: 7px;
    text-align: center;
}

table tr:nth-child(2n) {
    background-color: #DDEBF8;
}

table td:nth-child(2n+3) {
    background-color: #F2F2DD;
}